<!DOCTYPE html>
<html lang="en">
<head>
   <script type="text/javascript">
      window.onload = setupRefresh;

      function setupRefresh() {
          setInterval("refreshFrame();", 1000);
      }
      function refreshFrame() {
         parent.right_frame.location.reload();
      }
  </script>
  </head>
  

    <body>
        {% extends "base.html" %}
        {% block title %}Home Page{% endblock %}
        {% block content %}
            <h1>Word Password Generator</h1>
            {{content}}
        {% endblock %}
    </body>

</html>