<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        {% extends "base.html" %}
        {% block title %}Password Generator{% endblock %}
        {% block content %}
        <h1>Recent Passwords:</h1>
            <h3>
            {% autoescape false %}
                {{recent_passwords}}
            {% endautoescape %}
            </h3>

            <h1>All Passwords:</h1>
            <h3>
            {% autoescape false %}
                {{all_passwords}}
            {% endautoescape %}
            </h3>
        <form method="POST" action="/generated_passwords">
            <input type="submit" value="submit">
        </form>
        {% endblock %}

    </body>
</html>