<!DOCTYPE html>
<html lang="en">
<head>
  </head>
  

    <body>
        {% extends "base.html" %}
        {% block title %}Word Password Generator{% endblock %}
        {% block content %}
            <h1>Word Password Generator</h1>
            {{content}}

        <div>
            <form method="POST" action="/word_generator">
                <p>Amount of Characters:</p>
                <p><input type="number" name="word_limit" max="100"/></p>
                <input type="submit" value="submit">
            </form>
        </div>

        {% endblock %}
    </body>

</html>